
.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.comment-list {
  flex: 1;
  padding: 10px;
}

.filter {
  margin-bottom: 10px;
}

.post-detail {
  flex: 2;
  padding: 10px;
  border-right: 2px solid #ccc;
  overflow-y: scroll;
}
